<html>
  <head>
    <title>{{ title.toUpperCase() }}</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    <style>
      body { font-family: futura; }
    </style>
  </head>
  <body class='bg-black w-100 white'>
  <img class="w-100 vh-100"/>
  <a
    class="white pa3 db no-underline pointer bt b--white"
  >
    Download
  </a>
  <a class="white pa3 db no-underline pointer" onClick={this.flip}>
    Flip
  </a>
  <a href="/">
    <div class="white pa3 pointer">Back</div>
  </a>
  <div class="bt b--white ph3 pt3 pb5">
    iOS: long-press, hit 'save image', go to settings → wallpaper
    <br />
    <br />
    Android: save image, long-press on empty space on homescreen, pick
    wallpapers, set wallpaper
  </div>

  <script>
class Truism {
  flip() {
    this.setState(
      ({ flip }) => ({
        flip: !flip,
      }),
      () => this.draw()
    );
  };
  draw() {
    if (typeof document === "undefined") return;
    const colors = this.state.flip ? ["#fff", "#000"] : ["#000", "#fff"];
    const {
      router: {
        query: { i },
      },
    } = this.props;
    const canvas = document.createElement("canvas");
    canvas.style.width = `${window.innerWidth}px`;
    canvas.style.height = `${window.innerHeight}px`;
    const truism = truisms[i];
    render(canvas, truism, colors, window);
    this.setState({
      img: canvas.toDataURL(),
    });
  }
}

const truism = new Truism({{ JSON.stringify(title) }});
truism.draw();
</script>
</body>
</html>
